@inherits LayoutComponentBase
@using WebApp.Enums

<MudThemeProvider Theme="@LayoutService.CurrentTheme" IsDarkMode="@LayoutService.IsDarkMode" IsDarkModeChanged="LayoutService.SetDarkMode"/>
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="25">
        <MudHidden Breakpoint="Breakpoint.MdAndUp">
            <MudIconButton OnClick="ToggleDrawer" Icon="@Icons.Rounded.Notes" Color="Color.Inherit" Edge="Edge.Start"/>
            <MudSpacer/>
            <NavLink ActiveClass="d-flex" href="/">
                <div class="mud-avatar mud-avatar-large mud-avatar-square mud-elevation-0 brand-image" style="background-color: transparent;")>
                    <img src="img/FIP.png" class="mud-avatar-img">
                </div>
                <MudText Typo="Typo.h5" Class="ml-3 mt-1 brand-text">Folder Icon Painter</MudText>
            </NavLink>
            <MudSpacer/>

           <MudTooltip Duration="1000" Text="@(LayoutService.IsDarkMode ? "Switch to Light Theme" : "Switch to Dark Theme")">
                <MudIconButton Icon="@(LayoutService.IsDarkMode ? @Icons.Rounded.LightMode : @Icons.Material.Outlined.DarkMode)" Color="Color.Inherit" OnClick="@((e) => LayoutService.ToggleDarkMode())"/>
            </MudTooltip>
        </MudHidden>

        <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
            <div class="mud-avatar mud-avatar-large mud-avatar-square mud-elevation-0" style="background-color: transparent")>
                <img src="img/FIP.png" class="mud-avatar-img">
            </div>
            <MudText Typo="Typo.h3" Class="ml-3 no-select">FIP</MudText>

            <MudDivider Vertical="true" FlexItem="true" DividerType="DividerType.Middle" Class="mx-4 my-3" />

            <MudButton Link="/" Variant="Variant.Text" Size="Size.Large" EndIcon="@Icons.Material.Filled.FormatPaint" Color="Color.Inherit" Class="@GetActiveClass(BasePage.Home)">Paint</MudButton>
            <MudButton Link="/addcustom" Variant="Variant.Text" Size="Size.Large" EndIcon="@Icons.Material.Filled.AddBox" Color="Color.Inherit" Class="@GetActiveClass(BasePage.AddCustom)">Add Custom</MudButton>
            <MudButton  Link="/settings" Variant="Variant.Text" Size="Size.Large" EndIcon="@Icons.Material.Filled.Settings" Color="Color.Inherit" Class="@GetActiveClass(BasePage.Settings)">Settings</MudButton>

            <MudSpacer />

            <MudTooltip Duration="1000" Text="@(LayoutService.IsDarkMode ? "Switch to Light Theme" : "Switch to Dark Theme")">
                <MudIconButton Icon="@(LayoutService.IsDarkMode ? @Icons.Rounded.LightMode : @Icons.Material.Outlined.DarkMode)" Color="Color.Inherit" OnClick="@((e) => LayoutService.ToggleDarkMode())"/>
            </MudTooltip>

            <MudTooltip Duration="1000" Text="GitHub Repository">
                <MudIconButton OnClick="@OpenGitHub" Target="_blank" Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Edge="Edge.End"/>
            </MudTooltip>
        </MudHidden>
    </MudAppBar>
    <MudDrawer Open="@_drawerOpen" OpenChanged="OnDrawerOpenChanged" ClipMode="DrawerClipMode.Docked" Elevation="0" Breakpoint="Breakpoint.Lg">
        <MudHidden Breakpoint="Breakpoint.MdAndUp">
            <MudToolBar Dense="true" DisableGutters="true" Class="docs-gray-bg pa-2">
                <MudIconButton Icon="@Icons.Rounded.Close" Color="Color.Inherit" OnClick="ToggleDrawer"/>
                <MudSpacer/>
                 <MudTooltip Duration="1000" Text="@(LayoutService.IsDarkMode ? "Switch to Light Theme" : "Switch to Dark Theme")">
                    <MudIconButton Icon="@(LayoutService.IsDarkMode ? @Icons.Rounded.LightMode : @Icons.Material.Outlined.DarkMode)" Color="Color.Inherit" OnClick="@((e) => LayoutService.ToggleDarkMode())"/>
                </MudTooltip>
                <MudTooltip Duration="1000" Text="GitHub Repository">
                    <MudIconButton OnClick="@OpenGitHub" Target="_blank" Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Edge="Edge.End" Class="mr-1"/>
                </MudTooltip>
            </MudToolBar>

            <MudNavMenu Color="Color.Primary" Margin="Margin.Dense" Rounded="true" Class="pa-2">
                <MudNavLink Href="/" Icon="@Icons.Material.Filled.FormatPaint">Paint</MudNavLink>
                <MudNavLink Href="/addcustom" Icon="@Icons.Material.Filled.AddBox">Add Custom</MudNavLink>
                <MudNavLink Href="/settings" Icon="@Icons.Material.Filled.Settings">Settings</MudNavLink>
            </MudNavMenu>
        </MudHidden>
    </MudDrawer>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>
