@page "/addcustom"
@inherits LayoutComponentBase
@using Application.Features.Categories.Queries.GetAll
@using Domain.Entities;

<MudContainer Class="mt-5 px-4">
    <MudGrid Class="mt-2">
        <MudItem xl="4" lg="4" md="4" sm="6" xs="12">
            <MudCard Elevation="2" Style="height: 100%">
                <MudCardContent Class="d-flex justify-center align-content-center pb-0">            
                    <MudColorPicker PickerVariant="PickerVariant.Static" Rounded="true" Value="pickerColor" 
                    ValueChanged="ChangeColor" DisableAlpha="true" DisablePreview="true"/>
                </MudCardContent>
            </MudCard>
        </MudItem>
        <MudItem xl="4" lg="4" md="4" sm="6" xs="12">
            <MudCard Elevation="2" Style="height: 100%">
                <MudCardContent Class="d-flex justify-center"> 
                    <MudForm @ref="form" @bind-IsValid="@success"> 
                        <InputFile hidden accept=".jpg, .jpeg, .png"/>

                        @*<MudButton HtmlTag="label" Variant="Variant.Filled" Color="Color.Primary" 
                            FullWidth="true" StartIcon="@Icons.Filled.CloudUpload">
                            Upload your image
                        </MudButton>*@

                        <MudTextField T="string" Label="Icon name" Required="true" RequiredError="Icon name is required!" @bind-Value="IconName"/>
                         
                        <MudAutocomplete Label="Category" @bind-Value="SelectedCategory.Name" Required="true" SearchFunc="SearchCategoryAsync"
                            Immediate="true" CoerceText="true" CoerceValue="true" ResetValueOnEmptyText="true" AdornmentIcon="@Icons.Material.Filled.Search"
                            AdornmentColor="Color.Primary" RequiredError="Category is required!" TextChanged="OnCategoryTextChanged" 
                            For="@(() => SelectedCategory.Name)"/>
                            
                        <MudSlider Class="mt-3" Min="-100" Max="100" Value="0" Color="Color.Info" Disabled="true">Saturation</MudSlider>
                        <MudSlider Min="-100" Max="100" Value="0" Color="Color.Error" Disabled="true">Brightness</MudSlider>
                    
                        <MudButton HtmlTag="label" Variant="Variant.Filled" Color="Color.Secondary" Disabled="!success"
                            FullWidth="true" Class="mt-3" StartIcon="@Icons.Material.Filled.CreateNewFolder" OnClick="SaveImageAsync"
                            style="@($"background-color:{pickerColor};")">
                            Save to library
                        </MudButton>
                    </MudForm>   
                </MudCardContent>
            </MudCard>
        </MudItem>
        <MudItem xl="4" lg="4" md="4" sm="6" xs="12">
            <MudCard Elevation="2" Style="height: 100%">
                <MudCardContent Style="height: 100%" Class="d-flex align-center">
                    <div class="folder-preview"> 
                        <MudImage Src="icons/folder-empty-bw.png" Fluid="true" Class="folder-image" 
                        Style="@($"{Filter}")" id="folderEmpty" draggable="false"/>
                        <MudImage Src="icons/folder-doc.png" Fluid="true" Class="folder-image" id="folderDoc" draggable="false"/>
                    </div>
                </MudCardContent>
            </MudCard>
        </MudItem>
        <MudItem xl="12" lg="12" md="12" sm="12" xs="12">
            <MudCard Elevation="2">
                <MudCardContent>
                    <MudGrid>
                        <MudItem xl="6" lg="6" md="6" sm="6" xs="12">
                             <MudAutocomplete T="string" Label="Category" AdornmentIcon="@Icons.Material.Filled.Search" AdornmentColor="Color.Primary" 
                                Required="true" RequiredError="Category is required!"/>
                        </MudItem>

                        <MudItem xl="6" lg="6" md="6" sm="6" xs="12">
                            <MudAutocomplete T="string" Label="Category" AdornmentIcon="@Icons.Material.Filled.Search" AdornmentColor="Color.Primary" 
                                Required="true" RequiredError="Category is required!"/>
                        </MudItem>

                        <MudItem xl="6" lg="6" md="6" sm="6" xs="12">
                            <MudCard Elevation="2">
                                <MudCardContent>
                                    <MudDropZone T="string" Class="pa-6 flex-grow-1">
                                    </MudDropZone>
                                </MudCardContent>
                            </MudCard>
                        </MudItem>
                        
                        <MudItem xl="6" lg="6" md="6" sm="6" xs="12">
                            <MudCard Elevation="2">
                                <MudCardContent>
                                    <MudDropZone T="string" Class="pa-6 flex-grow-1">
                                    </MudDropZone>
                                </MudCardContent>
                            </MudCard>
                        </MudItem>
                    </MudGrid>
                </MudCardContent>
            </MudCard>
        </MudItem>
    </MudGrid>
</MudContainer>
